.hading{
    margin: 10px;
    font-size: 20px;
}
.customer_detal{
    display: flex;
    margin-left: 28px;
    gap: 10px;
}

.Cdetal{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.transaction{
    margin-left: 28px;
    font-size: 18px;
}
.btm{
    margin-left: 10px;
}